// Setting up your workspace
// https://github.com/golang/tools/blob/master/gopls/doc/workspace.md

go 1.19

use (
	./businessobjects
	./contentnegotiation
	./environment
	./idp
	./lambda
	./log
	./otellog
	./requestid
	./requestlog
	./tenant
	./tracecontext
)
